.home {
    height: 700px;
    width: 100%;
    display: flex;
    background-image: url("../img/tree.png");
    flex-direction: column;
  
    background-repeat: no-repeat;
   
    overflow: hidden;
    background-size: 310% 125%;
    
    background-position-x: -310px;
    background-position-y: -30px;
   
  }
  #mytoday{
    position: relative;
    top:5px
  }
  @media screen and (min-width: 370px) {
    .home {
      height: 700px;
      width: 100%;
      display: flex;
      background-image: url("../img/tree.png");
      flex-direction: column;
    
      background-repeat: no-repeat;
     
      overflow: hidden;
      background-size: 290% 125%;
      
  
     
    }
  }
  @media screen and (min-width: 390px) {
    .home {
      height: 700px;
      width: 100%;
      display: flex;
      background-image: url("../img/tree.png");
      flex-direction: column;
    
      background-repeat: no-repeat;
     
      overflow: hidden;
      background-size: 295% 125%;
      
  
     
    }
  }
  @media screen and (min-width: 430px) {
    .home {
      height: 700px;
      width: 100%;
      display: flex;
      background-image: url("../img/tree.png");
      flex-direction: column;
    
      background-repeat: no-repeat;
     
      overflow: hidden;
      background-size: 275% 125%;
      
  
     
    }
  }
  @media screen and (max-width: 350px) {
    .home {
      height: 700px;
      width: 100%;
      display: flex;
      background-image: url("../img/tree.png");
      flex-direction: column;
    
      background-repeat: no-repeat;
     
      overflow: hidden;
      background-size: 325% 125%;
      
  
     
    }
  }
  .Mytreeholehome {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 60%;
    justify-content: center;
    align-content: space-around;
    position: relative;
    top: 170px;
    left: 55%;
  }
  .check {
    height: 33%;
  }
  .checks {
    text-decoration: none;
    font-family: Source Han Sans CN;
  
    font-size: 16px;
    letter-spacing: 0;
    color: #e4e4e4;
    opacity: 1;
  }
  .backtohome {
    position: relative;
    width: 50px;
    top: 20px;
    left: 30px;
    padding: 0px;
  }
  .aaimg {
    display: flex;
    justify-content: fixed-end;
    -webkit-justify-content: flex-end;
    width: 80%;
    position: relative;
    left: 55px;
    top: -20px;
    
  }
  